@import "fonts";

$main-font: 'Manrope', sans-serif;

$size: 14px;
$grey: #E5E5E5;
$black: #000;
$pink: #CA4074;
$purple: #995DD4;
$green: #00A82D;
$orange: #FF7F32;

$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  font-size: $size;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;

  &.fixed {
    position: fixed;
  }
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

a, button {
  cursor: pointer;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  //cursor: url("../img/nav-ar.svg"), auto;
}

img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: hidden;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}

.js-anim {
  &.anim-top {
    transform: translate(0, 80%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-bot {
    transform: translate(0, -30%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-right {
    transform: translate(-80%, 0);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-left {
    transform: translate(80%, 0);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-yRot {
    transform: rotateX(180deg);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-xRot {
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-blur {
    filter: blur(4px);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), filter 0.5s ease, background-color 0.3s ease;
  }

  &.anim-fadeT {
    opacity: 0;
    transform: translate(0, 40px);

    transition: opacity 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-fade {
    opacity: 0;

    transition: opacity 1.2s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-fadeR {
    opacity: 0;
    transform: translate(-80%, 0);
    transition-delay: 0.2s;
    transition: opacity 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.87s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-fadeB {
    opacity: 0;
    transform: translate(0, -60px);
    transition: opacity 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-start {
    transform: translate(0) rotate(0) !important;
    filter: none !important;
    opacity: 1 !important;

  }
}

.container {
  width: 100%;

  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
  //max-width: 1730px;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden !important;
  }
}

html {
  &.no-scroll {
    //overflow: hidden !important;
    //height: auto !important;
  }
}

.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}


.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  //overflow: hidden;

  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;


}

.demiweb {
  width: 100%;
  display: flex;
  margin-top: auto;
  padding: 6px;
  border: 1px solid #d9d9d9;
  color: #000;

  p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #000;


  }

  img {
    margin-left: 6px;
    padding: 10px;
    position: relative;
    background: #000;

    transition: filter 0.3s ease;
    filter: invert(1);
  }

  &:hover {
    text-decoration: underline;

    img {
      filter: invert(0);
      transition: filter 0.3s ease;
    }
  }
}

p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #ECECEC;
  box-shadow: inset 0 0 1px 1px #fff;

}

* {
  outline: none;
  box-sizing: border-box;
  font-family: $main-font;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  box-sizing: border-box;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap;


  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */

  text-align: center;

  color: #FFFFFF;
  border: 2px solid #000;
  background: #000;
  padding: 5px 45px;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;

  &:hover {
    color: #000;
    background-color: #fff;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }

  &.btn--white {
    border-radius: 15px;
    background: #fff;
    border: 1px solid #000;
    padding: 5px 23px;
    color: #000;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.hero {
  width: 100%;
  height: 100vh;
  padding-top: 170px;
  box-sizing: border-box;
  overflow: hidden;

  .container {
    max-width: none;
    height: 100%;
  }
}

.hero-text {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 7%;
  box-sizing: border-box;
  padding-left: 8.4%;
  padding-right: 5.4%;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 128px;
    line-height: 1.1;
    color: #000000;

    strong {
      font-weight: 600;
      color: $pink;
    }
  }
}

.hero-container {
  height: 100%;
  position: relative;

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .sqr {
      position: absolute;

      p {
        position: absolute;
        bottom: 15%;
        left: 6%;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #A6A6A5;
        padding-right: 13px;

        &::after {
          width: 9px;
          height: 9px;
          position: absolute;
          right: 0;
          top: 50%;
          display: inline-block;
          content: '';
          background: url("../img/arr-r.svg") no-repeat center / 100%;
          transform: translate(0, -50%) rotateX(180deg);
          filter: invert(50%) sepia(5%) saturate(309%) hue-rotate(226deg) brightness(116%) contrast(80%);

        }
      }

      &:nth-of-type(1) {
        height: 68%;
        width: 70%;
        background: $grey;
        bottom: 12%;
        right: 0;
      }

      &:nth-of-type(2) {
        height: 114px;
        width: 30%;
        bottom: 13%;
        right: 20%;

        &::after {
          width: 100%;
          height: 100%;
          position: absolute;
          display: inline-block;
          content: '';
          top: 0;
          left: 0;
          background: $pink;
          transform: rotate(-11deg);
        }
      }
    }
  }
}

.partners {
  width: 100%;

  .container {
    max-width: none;
    height: 100%;
  }
}

.partners-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  .drop-lines {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .start {
      top: 100%;
      right: 100%;
      width: 2px;
      height: 0;
    }

    .big {
      left: 0;
      top: 100%;
      height: 2px;
      width: 0;
    }

    .center {
      right: 750px;
      bottom: 0;
      width: 2px;
      height: 0;
      transition: width 0.7s ease, height 0.7s ease;

    }

    .end {
      left: 100%;
      top: 100%;
      width: 2px;
      height: 0;
    }

    .half {
      right: 0;
      top: 0;
      width: 0;
      height: 2px;
    }

    &.anim-start {
      .start, .end {
        height: 30px;
      }

      .center {
        height: 100%;
      }

      .big {
        width: 100%;
      }

      .half {
        width: 92%;
      }
    }
  }
}

.partners-text {
  z-index: 2;
  position: relative;
  padding-left: 9%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .right {
    padding: 60px 10px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 750px;

    flex-shrink: 0;
  }

  .left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 15px 15px 0;

    p {
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #000000;
    }
  }
}

.partners-textual {
  img {
    width: 100%;
    height: auto;
  }

  .text {
    width: 100%;
    max-width: 534px;
    margin: 65px 0;

    .btn {
      margin-top: 20px;
    }

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $pink;
      text-transform: uppercase;
      margin-bottom: 22px;


      strong {
        font-weight: 600;
        text-transform: initial;
        color: #000;
      }
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

    }
  }
}

.dot {
  &::after {
    content: attr(data-end);
    color: $pink;
  }
}

.how-it-works {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
}

.big-word {
  width: 100%;
  height: auto;

  img, svg {
    width: 100%;
    height: auto;

    .let {
      opacity: 0;
      transition: opacity 0.3s ease;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: calc(0.15s * #{$i});
        }
      }
    }

    .line {
      transform: rotate(9deg) translate(3px, -9px);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      transition-delay: 0.7s;
    }
  }

  &.anim-start {
    svg {
      .let {
        opacity: 1;
      }

      .line {
        opacity: 1;
        transform: none;
      }
    }
  }
}

.works-container {
  width: 100%;
  padding-left: 9%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
}

.works-title {
  width: 100%;
  max-width: 1138px;
  z-index: 2;

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
  }
}

.works-text {
  width: 100%;
  padding-left: 33.5%;
  margin-top: 50px;

  .img {
    width: 100%;
    height: 236px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      margin-top: 25px;
    }
  }

  .text {
    position: relative;
    max-width: 584px;
    width: 100%;
    margin-top: 25px;

    &::before {
      border: 5px solid $pink;
      width: 70%;
      height: 70%;
      bottom: 100%;
      left: 0;
      display: inline-block;
      content: '';
      position: absolute;
      transform: translate(-35%, 45px);
    }

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #000000;

    }

    ol {
      margin-top: 35px;
      counter-reset: my-awesome-counter2;

      li {
        counter-increment: my-awesome-counter2;
        //position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #000000;

        &::before {
          content: counter(my-awesome-counter2) ". ";
        }
      }
    }
  }
}

.services {
  width: 100%;
  margin-bottom: 150px;

  .dot {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    padding-left: 9%;
  }
}

.services-list {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .sqr {
    width: 100%;
    height: 1px;
    position: sticky;
    top: 210px;

    &::after {
      width: 215px;
      height: 215px;
      border: 1px solid #E5E5E5;
      display: inline-block;
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%) rotate(var(--rot));
      transition: transform 0.1s linear;
    }
  }
}

.single-service {
  width: 100%;
  position: relative;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  .drop-lines {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .center {
      right: 50%;
      bottom: 0;
      width: 2px;
      height: 0;
      transition-delay: 0.4s;
      transition: width 0.7s ease, height 0.7s ease;

    }

    .big {
      transition: width 1.3s ease, height 1.3s ease;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;

    }


    &.anim-start {
      .start, .end {
        height: 30px;
      }

      .center {
        height: 100%;
      }

      .big {
        width: 100%;
      }

      .half {
        width: 92%;
      }
    }
  }
}

.service-text {
  width: 100%;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 55px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .left, .right {
    width: 50%;
  }

  .left {
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 20px;
      color: #000000;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-top: 21px;
    }
  }

  .right {
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 25px;
    }

    .img {
      width: 100%;
      display: flex;
      overflow: hidden;
      padding-top: 58%;
      height: 0;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;

      }
    }
  }
}

.our-team {
  width: 100%;

  .container {
    > span {
      width: calc(50% - 120px);
      display: inline-block;
      margin-left: calc(50% + 120px);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #5F5F5F;
      margin-bottom: 19px;
      max-width: 534px;
    }
  }

  .dot {
    position: relative;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    padding-left: 9%;
    display: inline-block;
    padding-right: 24px;

    &::before {
      width: 17px;
      height: 17px;
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      content: '';
      background: url("../img/arr-r.svg") no-repeat center / 100%;
      transform: translate(0, -50%) rotateX(180deg);
      filter: invert(50%) sepia(5%) saturate(309%) hue-rotate(226deg) brightness(116%) contrast(80%);

    }
  }
}

.our-team-block {
  width: 100%;
  background: #E5E5E5;
}

.our-team-list {
  width: 100%;
  display: flex;

  .btns {
    display: none;
  }

  &.swiper-container {
    width: 100%;
  }

  .swiper-wrapper {
    width: 100%;
    position: relative;


  }
}

.single-team {
  width: 100%;
  margin-bottom: 25px;
  position: static;

  .img {

    z-index: 2;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


}

.single-team__text {
  width: 100%;
  padding-left: 9%;
  padding-bottom: 25px;
  padding-right: calc(50% - 120px);
  box-sizing: border-box;
  position: relative;

  .drop-lines {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: calc(50% - 120px);
    top: 0;

    .line {

    }

    .start {
      top: auto;
      bottom: 0;
      right: calc(100% - 2px);
      width: 2px;
      height: 0;
    }

    .big {
      left: 0;
      top: 100%;
      height: 2px;
      width: 0;
    }


    &.anim-start {
      .start, .end {
        height: 30px;
      }

      .center {
        height: 100%;
      }

      .big {
        width: 100%;
      }

      .half {
        width: 92%;
      }
    }
  }

  .text {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    z-index: 2;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      color: #000000;
      transition: font-size 0.3s ease;
      margin-right: 20px;
    }

    ul {
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          color: #000000;
          padding-right: 21px;
          position: relative;
          transition: color 0.4s ease, padding 0.4s ease;

          &::after {
            width: 9px;
            height: 9px;
            transition: width 0.4s ease, height 0.4s ease, transform 0.4s ease, filter 0.4s ease;
            display: inline-block;
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            background: url("../img/arr-r.svg") no-repeat center / 100%;
            transform: translate(0, -50%);
            filter: invert(53%) sepia(5%) saturate(309%) hue-rotate(226deg) brightness(116%) contrast(80%);
          }

          &:hover {
            padding-right: 21px;
            color: $pink;
            transition: color 0.4s ease, padding 0.4s ease;

            &::after {
              width: 14px;
              height: 14px;
              transition: width 0.4s ease, height 0.4s ease, transform 0.4s ease, filter 0.4s ease;
              filter: invert(33%) sepia(42%) saturate(1589%) hue-rotate(297deg) brightness(97%) contrast(91%);
              transform: translate(0, -50%) rotate(45deg);
            }
          }
        }
      }
    }
  }
}

.single-team.active, .single-team.swiper-slide-active {
  z-index: 2;

  .img {
    z-index: 2;
  }

  .single-team__text {
    .drop-lines {
      .line {
        background: $pink;
      }
    }

    .text {
      p {
        font-size: 36px;
      }

      ul {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .our-team-list {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .single-team {
    &:nth-child(1) {
      margin-top: 75px;
    }

    &:last-child {
      margin-bottom: 75px;
    }

    .img {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: calc(50% - 120px);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s ease, visibility 0.4s ease;
      pointer-events: none;
    }

    &.active {
      .img {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  @media screen and (max-width: 1050px) {
    .single-team.active .single-team__text .text p {
      font-size: 26px;
    }
    .single-team__text {
      padding-left: 30px;
      padding-bottom: 15px;

      .text {
        p {
          font-size: 18px;
          line-height: 28px;
        }

      }
    }
    .single-team {
      &:nth-child(1) {
        margin-top: 35px;
      }

      &:last-child {
        margin-bottom: 35px;
      }
    }
  }
}

@media screen and (max-width: 849px) {
  .single-team.active .single-team__text .text p, .single-team.swiper-slide-active .single-team__text .text p {
    font-size: 26px;
  }
  .our-team-list {
    .btns {
      display: block;
    }

    position: relative;

    .slides-btn {
      width: 30px;
      height: 30px;
      position: absolute;
      padding: 6px;
      box-sizing: border-box;
      z-index: 2;
      cursor: pointer;
      background: #E5E5E5;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: #000;
          transition: fill 0.3s ease;
        }
      }

      &--next {
        right: 0;
        top: 50%;
        transform: translate(0, -50%);

        svg {
          transform: rotate(45deg);
        }
      }

      &--prev {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

        svg {
          transform: rotate(-135deg);
        }
      }

      &:hover {
        svg {
          path {
            fill: $pink;
          }
        }
      }
    }
  }
  .single-team__text {
    padding-left: 30px;
    padding-right: 30px;
    position: static;

    .drop-lines {
      width: 100%;
      right: 0;
    }
  }
  .our-team-list {
    padding: 30px 0;
  }
  .single-team__text .drop-lines.anim-start .start, .single-team__text .drop-lines.anim-start .end {
    height: 50%;
  }
  .single-team__text .text {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;

    p {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }
  .single-team {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    position: relative;


    .img {
      position: relative;
      height: 0;
      padding-top: 70%;
      width: 50%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .single-team .img {
    width: 100%;
    padding-top: 120%;
  }
}

.steps {
  width: 100%;
  background: #000;
  padding-top: 55px;
  padding-bottom: 180px;
  box-sizing: border-box;
  z-index: 1;

  .dot {
    max-width: 77%;
    padding-left: 9%;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;

    strong {
      position: relative;
      font-weight: 300;
      display: inline-block;

      &::before {
        height: calc(100% + 4px);
        width: 0;
        left: -5px;
        border: 0px solid $pink;
        position: absolute;
        display: inline-block;
        content: '';
        transition: width 0.4s ease, border 0.4s ease;
      }
    }

    &.anim-start {
      strong {
        &::before {
          width: calc(100% + 10px);
          border: 5px solid $pink;

        }
      }
    }
  }


  .container {
    z-index: 2;


    > span {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      display: inline-block;
      padding-left: 9%;
      margin-top: 77px;
      margin-bottom: 22px;
    }

    > .img {
      width: 100%;
      height: auto;
      max-width: 660px;
      margin-bottom: 150px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .drop-cont {
    position: relative;
    width: 100%;

    .big-letter {
      right: 0;
      bottom: calc(100% - 2px);

      width: 23%;
      height: auto;
      position: absolute;
      max-width: 262px;
    }

    .drop-lines {
      bottom: 0;
      left: 0;
      right: 0;

      .line {
        background: #5F5F5F;
      }

      .start {
        top: 0;
        right: 100%;
        width: 2px;
        height: 0;
      }

      .big {
        left: 0;
        top: 0;
        height: 2px;
        width: 0;
      }

      .center {
        left: 30%;
        bottom: 0;
        width: 2px;
        height: 0;
      }

      .end {
        left: 100%;
        top: 0;
        width: 2px;
        height: 0;
      }

      &.anim-start {
        .start, .end, .center {
          height: 30px;
        }

        .big {
          width: 100%;
        }
      }
    }
  }
}

.big-step {
  z-index: 1;

  .container {
    z-index: 1;
  }

  .big-word {
    background: #fff;

    svg {
      transform: translate(0, -50%);
      mix-blend-mode: difference;

      path {
        &.line {
          filter: invert(1);

        }
      }

    }

  }
}

.steps-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 60px;
  counter-reset: my-awesome-counter2;
}

.single-step {
  width: 100%;
  padding-left: 9%;
  padding-right: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 35px;
  margin-bottom: 25px;
  counter-increment: my-awesome-counter2;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
    padding-right: 10px;
    width: 100px;
    box-sizing: border-box;
    flex-shrink: 0;

    &::before {
      content: "." counter(my-awesome-counter2, decimal-leading-zero);
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 32px;

    &.lnk {
      padding-right: 27px;
      position: relative;
      display: inline-block;
      transition: color 0.3s ease;
      cursor: pointer;

      &::after {
        width: 24px;
        height: 24px;
        transition: width 0.4s ease, height 0.4s ease, transform 0.4s ease, filter 0.4s ease;
        display: inline-block;
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        background: url("../img/arr-r.svg") no-repeat center / 100%;
        transform: translate(0, -50%);

        filter: invert(33%) sepia(42%) saturate(1589%) hue-rotate(297deg) brightness(97%) contrast(91%);

      }

      &:hover {
        color: $pink;
        transition: color 0.3s ease;

      }

    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .drop-lines {
    bottom: 0;
    left: 0;
    right: 0;

    .line {
      background: #5F5F5F;
    }

    .start {
      top: 0;
      right: 100%;
      width: 2px;
      height: 0;
    }

    .big {
      left: 0;
      top: 0;
      height: 2px;
      width: 0;
    }

    .center {
      left: calc(9% + 100px);
      bottom: 0;
      width: 2px;
      height: 0;
    }

    .end {
      left: 100%;
      top: 0;
      width: 2px;
      height: 0;
    }

    &.anim-start {
      .start, .end, .center {
        height: 60px;
      }

      .big {
        width: 100%;
      }
    }
  }
}

.big-step-container {
  width: 100%;
  padding: 100px 0 150px;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .btn {
      margin-top: 100px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      padding: 28px;

      p {
        font-weight: 500;
        font-size: 48px;
        line-height: 1;
        margin-bottom: 6px;
      }

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }

    > p {
      font-style: normal;
      font-weight: 500;
      font-size: 128px;
      line-height: 1.1;
      align-items: center;
      width: 100%;
      flex-shrink: 0;
      text-align: center;

      &.mr {
        margin-right: 5%;
      }

      &.ml {
        margin-left: 5%;
      }

      strong {
        font-weight: 500;
        color: $pink;
      }
    }
  }
}

.logos {
  width: 100%;
  background: $grey;
  padding: 60px 0;
  position: relative;
  overflow: hidden;

}

.logos-list {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;


  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.single-logo {
  width: var(--marquee-element-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    width: auto;
    height: auto;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 6;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

@media screen and (max-width: 1450px) {
  :root {
    --marquee-elements-displayed: 5;
  }
}

@media screen and (max-width: 1200px) {
  .logos {
    padding: 30px 0;
  }
  :root {
    --marquee-elements-displayed: 4;
  }
  .single-logo {
    padding: 5px 12px;
    height: 45px;

    img {
      width: auto;
      height: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  :root {
    --marquee-elements-displayed: 3;
  }
  .single-logo {
    padding: 5px 12px;
    height: 35px;

    img {
      width: auto;
      height: 100%;
    }
  }
}

.logo {
  svg {
    .line {

      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &:hover {
    svg {
      .line {
        transform: rotate(10deg) translate(-2px, -9px) scale(1.1);
        transition: transform 0.3s ease, opacity 0.3s ease;

      }
    }
  }
}

@import 'header';
@import 'footer';


@import "media";

